x-otp: &x-otp
  build:
    context: docker/otp
  ports:
    - "7001:7000"
  volumes:
    - ./docker/otp/data:/srv/otp/data
  restart: unless-stopped

services:
  api:
    depends_on:
      - otp-bordeaux

  otp-bordeaux:
    <<: *x-otp
    environment:
      GRAPH: bordeaux
