name: CI test

on:
  push:
    branches: [master, dev]
    tags:
      - 'v*'
  pull_request:
    branches: [master, dev]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Add system package
        run: sudo apt install -y libsqlite3-mod-spatialite

      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
          bundler-cache: true

      - name: Run tests
        run: bundle exec rake test

  docker:
    runs-on: ubuntu-latest
    needs: [tests]
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev' || startsWith(github.event.ref, 'refs/tags/v')

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Docker Build and Push
        uses: cartoway/docker-compose-build-push-action@main
        with:
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          service: api
